name: Build
on: [push, pull_request]

jobs:
  build:
    name: Build for Android
    runs-on: macos-latest
    
    steps:
    - name: Clone repository
      uses: actions/checkout@v2
      
    - name: Setup Java
      uses: actions/setup-java@v1
      with:
        java-version: '12.x'
        
    - name: Setup Flutter
      uses: subosito/flutter-action@v1
      with:
        channel: 'master'
      
    - name: Decode Google services
      env:
        FIREBASE_ANDROID: ${{ secrets.FIREBASE_ANDROID }}
      run: |
        touch android/app/google-services.json
        echo $FIREBASE_ANDROID > android/app/google-services.json
        
    - name: Build debug APK
      run: flutter build apk --debug
      
